[Unit]
Description = Dispatch Service
[Service]
User=roboshop
Environment=AMQP_HOST=rabbitmq-dev.learndevopsb70.online
Environment=AMQP_USER=user-dev.learndevopsb70.online
Environment=AMQP_PASS=roboshop_rabbitmq_password
ExecStart=/app/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target